<div class="wrapper">
  <div class="form-box">
    <h4 i18n="@@forgotPassword" class="title">Forgot Password?</h4>
    <small i18n="@@youCanResetYourPasswordHere">You can reset your password here.</small>
    <form #forgotPasswordForm="ngForm" (ngSubmit)="requestPasswordChange(forgotPasswordForm)">
      <div>
        <input
          type="email"
          name="email"
          email
          ngModel
          #email="ngModel"
          i18n-placeholder="@@email"
          placeholder="Email"
          required
          autofocus
          class="form-control"
        />
      </div>
      <ps-action-button i18n="@@resetPassword" [disabled]="!forgotPasswordForm.form.valid">
        Reset Password
      </ps-action-button>
    </form>
  </div>
</div>
