@import 'variables';

.buttonContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 1rem;
  min-width: 0;
}

.text {
  display: inline-block;
  position: relative;
  margin-right: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 2.5em);
}

.loadingSpinner {
  display: inline-block;
  position: relative;
  top: -1px;
  height: 0.8rem;
  width: 0.8rem;
  border: 0.2rem solid transparent;
  border-color: $border-color-default;
  border-top-color: $primary;
  border-radius: 50%;
  pointer-events: none;
  animation: loadingSpinAnimation 1s linear infinite;
}

@keyframes loadingSpinAnimation {
  100% {
    transform: rotate(360deg);
  }
}
